{:figwheel
 {:zou/constructor zou.cljs.figwheel/figwheel
  :zou/optionals {:builds :cljs-builds}
  :zou/disabled #zou/when-prod true
  :css-dirs ["resources/public/css"]}

 :cljs-tasks
 {:zou/constructor zou.cljs.compiler/map->CLJSTasks
  :zou/optionals {:builds :cljs-builds}}

 ;; TODO: Clarify what is expected here
 :cljs-builds
 {;; :main {:serve-path "/js/dist/main.js"
  ;;        :source-paths ["src" "src-cljs"]
  ;;        :figwheel true
  ;;        :compiler
  ;;        {:main app.core
  ;;         :asset-path "/js/dist/out"
  ;;         :output-to "resources/public/js/dist/main.js"
  ;;         :output-dir "resources/public/js/dist/out"
  ;;         :source-map-timestamp true
  ;;         :optimizations :none
  ;;         :pretty-print true

  ;;         $override
  ;;         #zou/when-prod
  ;;         {:optimizations :advanced
  ;;          :pretty-print false}}}
  }}
